---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero.astro';
import Introduction from '../components/Introduction.astro';
import TrustIcons from '../components/TrustIcons';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import ProcessSection from '../components/ProcessSection.astro';
import CtaSection from '../components/CtaSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import ServiceArea from '../components/ServiceArea.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import FaqSection from '../components/FaqSection.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Professional Roofing Services">
  <Navbar client:load />
  <main>
    <Hero />
    <Introduction />
    <TrustIcons client:load />
    <WhyChooseUs />
    <CtaSection />
    <ServicesSection />
    <ProcessSection />
    <TestimonialsSection />
    <FaqSection />
    <ServiceArea />
    <FinalCta />
  </main>
  <Footer />
</Layout>