---
---
<div class="p-6 border border-accent-light border-opacity-25 rounded-lg bg-gradient-to-b from-accent-dark/66 to-accent-dark/33 mb-8">
  <p>
    To get started, open the directory <code class="text-sm font-bold bg-accent-light/12 text-accent-light rounded px-1.5 py-0.5">src/pages</code> in your project.<br />
    <strong class="text-accent-light">Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
</div>